<h2>as featured on</h2>

{% schema %}
{
    "name": "Banner",
    "settings": [
        {
            "type": "text",
            "id": "banner",
            "label": "Custom Banner"
        }
    ],
    "presets": [
        { "name": "Default custom banner"}
    ],
    "tag": "banner-section",
    "limit": 1
}
{% endschema %} 