
<h1>{{ section.settings.header_text }}</h1>



<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('{{ section.settings.background_image | img_url: 'master' }}') center center no-repeat;
        width: 100%;
        height: 810px;
        max-height: 810px;
        background-size: cover;
        color: {{ section.settings.header_text_color }};              
    }

    h1 {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 5.5rem;
        font-size: 5.5rem;
        font-weight: 700;
        text-shadow: 3px 3px 0 #AE5B0A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #AE5B0A; 
    }

</style>


{% schema %}
{

    "name": "Header",
    "settings": 
    [
        {
            "type": "text",
            "id": "header_text",
            "label": "Header text",
            "default": "Welcome To My Shop"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background image"
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Text color",
            "default": "#ffffff"
        }
    ],
    "tag": "header",
    "limit": 1

}
{% endschema %}